# Core dependencies
fastapi
uvicorn
streamlit
python-dotenv
pydantic
requests

# AWS and S3
boto3
PyPDF2

# Vector store and embeddings
pinecone-client
openai
tiktoken

# Data processing and visualization
pandas
matplotlib
seaborn
numpy


# Database
snowflake-connector-python

# Web scraping and API
beautifulsoup4
selenium
yahooquery
tavily-python

# Langchain / LangGraph
langchain
langchain-openai
langgraph

# Utilities
python-multipart
aiohttp
tqdm
spacy==3.7.4  # Compatible with thinc
thinc==8.2.3
setuptools==68.2.2
# Testing and Development
yfinance 
